*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul{
    list-style: none;

}
img{
    object-fit: cover;
}
a{
    text-decoration: none;
    color: black;
}
button , input{
    border: transparent;
    outline: none;

}
body{
    background-color:#0F2330;
}

.container {
    margin: 0 auto;
    max-width: 1340px;
    padding-left: 20px;
    padding-right: 20px;
}

/* =====HEADER-START====== */
.header {
    padding-top: 39px;
    padding-bottom: 37px;
background-color:  #0F2330;;
}

.header__list {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__logo {
    color:gold;
}
.header__profile {
    color:white;
}
.header__shop{
    background-color:transparent;
    color:aliceblue;
    cursor: pointer;
}

/* =====HEADER-END===== */

/* =====HERO-START===== */
.hero__container{
    margin: auto;

}

 
    /* form-start */

.form {
   
    /* background-color:#0F2330; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width: 900px;
    background-color:#0a1c27;


}
.form__btn--search {
    background-color:transparent;
}

.form__search {
    padding: 10px;
    cursor: pointer;
    color:gold;
    font-size: 26px;
}
.form__input {
    color:gold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color:#0a1c27;

    width: 100%;
}
.form__btn--close {
    padding: 10px;
    cursor: pointer;
    color:white;
    background-color:transparent;
}
.form__close {
    font-size: 26px;
}

@media  (max-width: 600px){
    .form__input{
        font-size: 16px;
    }
}
/* form-end */

/* tab-menu-start */


.menu {
    padding-top: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.menu__item {
    padding: 10px 12px 10px 12px;
    background-color:#0a1c27;
    border: 1px solid gold;
    border-radius:5px;
    text-transform: capitalize;
    color:aliceblue;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.menu__item:hover{
    background-color:gold;
color:#0a1c27
}

/* tab-menu-end */


/* product-start */

.product__container{
    margin: auto;
}
.product {
    margin: auto;
    margin-top: 60px;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr) );
    /* grid-template-columns: repeat(auto-fill, ); */
    gap: 15px;

}
.product__box {
    grid-column: auto;
    background-color:#0a1c27;
    border-radius:8px;


}
.product__img {
    padding: 20px;
    width: 100%;
}
.product__title {
    color: #ADF5D6;
text-align: center;
padding: 5px;
font-size: 16px;
font-weight: 600;
line-height: 17.9px; /* 111.875% */
text-transform: uppercase;
}
.product__content {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.product__price {
    padding: 8px;
    color:gold
}
.product__type {
    padding: 8px;
    color:gold
}



/* product-end */


@media (max-width:670px) {

    .product{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px,1fr ) );
    }

    .product__title{
       
        font-size: 14px;
    }
    
}



/* =====HERO-END===== */