body{
    background-color:rgba(156, 156, 155, 0.226)
}

.modal {
    z-index: 1;
    border-radius:10px;
    display: block;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width: 600px;
    background-color:#0a1c27;
}
.modal__rwd {
    display: none;
    
}
.modal__desktop{
    display: block;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;

    max-width: 600px;
    background-color:#0a1c27;

}
.modal__img--block {
    padding: 40px;
}

.modal__content {
    margin-left: 30px;
    max-width: 650px;
}
.product__name {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 40px;
    color:aliceblue;

}
.product__price--modal {
    color:gold;
}
.product__info {
    max-width: 640px;
    padding-right: 15px;
    padding-left: 15px;
    color:aliceblue
}

.modal__box{
    display: flex;
    justify-content: start;
    align-items:center;
    gap: 15px;
}
.modal__btn {
    
    padding: 10px 12px 10px 12px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.close__btn{
    
    width: 20px;
    height: 20px;
    background-color:aliceblue;

    
}
.modal__link {
    
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    background-color:#0a1c27; 
    border: 1px solid gold;
    border-radius:5px;
    color:aliceblue;
}
.modal__link:hover{
    background-color:gold;
color:#0a1c27
}
.close__btn{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:transparent;
    color:white;
}

.close__btn-1{
    background-color:transparent;
    border:transparent;
}
@media (max-width: 828px) {
    .modal {
        max-width: 500px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .modal__desktop{
        border-radius:10px;
        display: none;

    }
    .modal__rwd {
        display: block;
        
    }
    .rwd__content {
        display: flex;
        align-items:center;

    }
    .modal__box {
        display: flex;
        justify-content: space-around;
        align-items:center;
        
        /* display: flex; */
        gap: 100px;
        margin-bottom:20px ;
        /* text-align: center; */
    }
    
}

@media (max-width: 586px) {
    .modal {
        border-radius:10px;

        max-width: 270px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .modal__desktop{
        display: block;

    }
    .modal__rwd {
        display: none;
        
    }

    .modal__img--block{
        text-align: center;
    }
}